{% layout settings.customer_layout %}

<div class="content clearfix container">
    <div class="page-header">
      <h3 class="center margin-bottom-50">RESET ACCOUNT PASSWORD</h3>
    </div>

    <p class="note">Enter a new password for {{ email }}</p>

    <div class="center">
    {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}

      <div id="password" class="row">
        <div class="col s12">
          <label class="hidden" for="password">Password</label>
          <input type="password" value="" name="customer[password]" id="customer_password" class="large password" placeholder="PASSWORD" />
        </div>
      </div>
      <div id="password_confirm" class="row">
        <div class="col s12">
          <label class="hidden" for="password_confirmation">Confirm Password</label>
          <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large password" placeholder="CONFIRM PASSWORD" />
        </div>
      </div>
      <div class="action_bottom">
        <input class="btn-yellow" type="submit" value="Reset Password" />
      </div>
    {% endform %}
    </div>
</div>
