<div class="col s12 m12 l12 not-found page-wrap">
	<div class="container center">
		<h2 class="margin-bottom-25">Page Not Found</h2>
		<p>The page you requested does not exist. Click <a class="ylw" href="/collections">here</a> to continue shopping.</p>
	</div>
</div>
