<div class="col s12 m12 l12 legal-page">
  <div class="row">
    <div class="col l8 offset-l2 m10 offset-m1 s10 offset-s1">
      <h2 class="center">Return Policy</h2>
      {{ page.content }}
    </div>
  </div>
</div>
