<div class="col s12 m12 l12">
  <div class="row">
    <div class="col l8 offset-l2 m10 offset-m1 s10 offset-s1" style="margin-bottom: 100px">
      <h2 class="center margin-50">About Us</h2>
      <div class="center">
        {{page.content}}
      </div>
    </div>
  </div>
</div>
